h1, .navList {
    font-family:'Roboto', sans-serif, bold;
}

h2, h3 {
    font-family: 'Roboto', sans-serif, medium;
}

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: rgb(232, 91, 91);
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: rgb(220, 79, 79);
    color: white;
    text-align: center;
}

.btn:hover {
    background-color: rgb(203, 37, 37);
}

.navList:hover {
    color:rgb(194, 63, 63);
}

#mainNav {
    display: flex;
    list-style-type: none;
    padding: 30px;
    justify-content: flex-end;
}

.navList {
    padding: 20px;
}

.heroImage {
    margin: 70px;
}

.heroDesigner {
    background-color:rgba(57, 155, 188, 0.473);
    padding: 10px;
    width: 130px;
}

.header {
    text-align: center;
}

.aboutMe {
    background-color: rgba(219, 78, 118, 0.236);
    padding: 40px;
    margin-inline: 100px;
    justify-content: center;
    align-items: center;
}

/*.workGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 30% 50% 20%;
    grid-template-areas: 
    "researchHeader research tools"
    "interfaceHeader interface tools"
    "frontHeader frontEnd tools";
}*/

#researchHeader {
    grid-area: researchHeader;
}

#interfaceHeader {
    grid-area: interfaceHeader;
}

#frontHeader {
    grid-area: frontHeader;
}

#research {
    grid-area: research;
}

#interface {
    grid-area: interface;
}

#frontEnd {
    grid-area: frontEnd;
}

#tools {
    grid-area: tools;
}

.gridArea {
    margin: 30px;
    display: grid;
}

.toolsbox {
    padding: 15px;
    margin-bottom: 0;
    align-items: center;
}

/*.flexContainer {
    display: flex;
    flex-direction: row;
}*/

.flexItem {
    padding: 10px;
    margin: 10px;
    width: 290px;
    height: 290px;
    background-color:rgba(19, 166, 105, 0.451);
    color: black;
    text-align: center;
}

.justifyContent {
    justify-content: center;
}

.active {
    color:rgb(44, 146, 108);
}

#tabContent2 {
    display: none;
}

.tabBar {
    align-items: center;
    display: flex;
    justify-content:center
}

.tab {
    display:inline-block;
    padding: 15px 25px;
    margin: 15px;
    width: 230px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.footer {
    background-color: rgb(12, 36, 66);
    color: white;
    display: flex;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
    list-style-type: none;
    justify-content: flex-start;
}

@media only screen and (min-width: 600px) {
    .workGrid {
        margin: 0px 5%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 30% 50% 20%;
        grid-template-areas: 
        "researchHeader research tools"
        "interfaceHeader interface tools"
        "frontHeader frontEnd tools";
    }
    .flexContainer {
    display: flex;
    flex-direction: row;
    }
   
}


@media only screen and (max-width: 600px) {
    .workGrid {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "researchHeader"
        "research"
        "interfaceHeader"
        "interface"
        "frontHeader"
        "frontEnd" 
        "tools";  
    }
    .flexContainer {
        display: flex;
        flex-direction: column;
    }    
}